<mat-card>
    <div class="box-btn-search">
      <div class="button-box">
        <button id="btn-cadastrar" mat-raised-button color="primary" routerLink="/cadastrar-reserva">Reservar Vaga</button>
      </div>
      <div class="input-box">
        <mat-form-field>
          <mat-label><mat-icon>search</mat-icon></mat-label>
          <input matInput type="text" placeholder="Qual dono da reserva está buscando?" (input)="search($event)">
        </mat-form-field>
      </div>
    </div>
  
    <table mat-table [dataSource]="reservas" class="mat-elevation-z8">
  
      <ng-container matColumnDef="Data">
        <th mat-header-cell *matHeaderCellDef> Data/Hora </th>
        <td mat-cell *matCellDef="let reservas"> {{reservas.data_hora_reserva | date:'dd/MM/yyyy / HH:mm'}} </td>
      </ng-container>
  
      <ng-container matColumnDef="Cliente">
        <th mat-header-cell *matHeaderCellDef> Cliente </th>
        <td mat-cell *matCellDef="let reservas"> {{reservas.cliente.nome}} </td>
      </ng-container>
  
      <ng-container matColumnDef="Vaga">
        <th mat-header-cell *matHeaderCellDef> Nº da Vaga </th>
        <td mat-cell *matCellDef="let reservas"> {{reservas.vaga.vaga_Id}} </td>
      </ng-container>

      <ng-container matColumnDef="VagaTipo">
        <th mat-header-cell *matHeaderCellDef> Tipo </th>
        <td mat-cell *matCellDef="let reservas"> {{reservas.vaga.tipo}}</td>
      </ng-container>
  
      <ng-container matColumnDef="Ações">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let reservas" >
          <button mat-raised-button color="primary" routerLink="/editar-reserva/{{reservas.reservaId}}" id="btn-editar">Editar</button>
          <button mat-raised-button color="accent">Detalhes</button>
        </td>
      </ng-container>
  
      <ng-container matColumnDef="Excluir">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let reservas">
          <button mat-raised-button color="warn" (click)="OpenDialog(reservas.reservaId, '200ms', '100ms')">Excluir</button>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="colunas"></tr>
      <tr mat-row *matRowDef="let row; columns: colunas;"></tr>
    </table>
    <mat-paginator [length]="reservas.length" [pageSize]="10" [pageSizeOptions]="[5, 10, 25]" aria-label="">
    </mat-paginator>
  </mat-card>
