mat-card {
    display: flex;
    width: 85vw;
    height: 80vh;
    margin: 60px 170px;
    padding: 0;
    gap: 20px;
    flex-direction: column;
    justify-content: flex-start;

    /* border: 1px solid red; */
}

.box-btn-search {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    /* border: 1px solid blue; */

    width: 100%;
    height: 100px;
}

.button-box {
    width: fit-content;
    height: fit-content;
    /* border: 1px solid white; */
    margin-left: 20px;
}

.input-box {
    display: flex;
    align-items: center;
    /* border: 1px solid white; */

    height: 95px;
    margin-right: 20px;
}

mat-form-field {
    height: fit-content;
    /* border: 1px solid maroon; */
    display: flex;
    justify-content: center;
    height: fit-content;
    margin-top: 20px;
}

.mdc-data-table__table {
    min-width: 90%;
}

#btn-editar {
    margin-right: 8px;
}