<mat-card>
    <div class="box-btn-search">
      <div class="button-box">
        <button id="btn-cadastrar" mat-raised-button color="primary" routerLink="/cadastrar-cartao">Cadastrar Cartão de Acesso</button>
      </div>
      <div class="input-box">
        <mat-form-field>
          <mat-label><mat-icon>search</mat-icon></mat-label>
          <input matInput type="text" placeholder="Qual dono do cartão está buscando?" (input)="search($event)">
        </mat-form-field>
      </div>
    </div>
  
    <table mat-table [dataSource]="cartoes" class="mat-elevation-z8">
  
      <ng-container matColumnDef="Validade">
        <th mat-header-cell *matHeaderCellDef> Validade </th>
        <td mat-cell *matCellDef="let cartoes"> {{cartoes.dataValidade | date:'dd/MM/yyyy'}} </td>
      </ng-container>
  
      <ng-container matColumnDef="Cliente">
        <th mat-header-cell *matHeaderCellDef> Cliente </th>
        <td mat-cell *matCellDef="let cartoes"> {{cartoes.cliente.nome}} </td>
      </ng-container>
  
      <ng-container matColumnDef="Ações">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let cartoes" >
          <button mat-raised-button color="primary" routerLink="/editar-cartao/{{cartoes.idCartao}}" id="btn-editar">Editar</button>
          <button mat-raised-button color="accent">Detalhes</button>
        </td>
      </ng-container>
  
      <ng-container matColumnDef="Excluir">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let cartoes">
          <button mat-raised-button color="warn" (click)="OpenDialog(cartoes.idCartao, '200ms', '100ms')">Excluir</button>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="colunas"></tr>
      <tr mat-row *matRowDef="let row; columns: colunas;"></tr>
    </table>
    <mat-paginator [length]="cartoes.length" [pageSize]="10" [pageSizeOptions]="[5, 10, 25]" aria-label="">
    </mat-paginator>
  </mat-card>